<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="xpertersAdmin:environment-name" value="LOCAL" />
    <add key="xpertersAdmin:environment-version" value="0.0.1" />

    <!-- Local -->
    <add key="addin:apiServerBaseAddress" value="https://localhost:44328/api/" />
    <add key="AzureAd:Authority" value="https://login.microsoftonline.com/f818c762-5d03-4aa8-9be2-8b2a990cfcd2" />
    <add key="AzureAd:ClientId" value="47dbfc26-0e15-431a-8e4f-afece51516ab" />
    <add key="AzureAd:Resource" value="https://xperters.com/cc6f1fdb-9d17-43f4-8263-27f84cf0deb4" />
    <add key="AzureAd:RedirectUri" value="https://localhost" />
  </appSettings>
</configuration>