<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <clear />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="xperters" value="https://pkgs.dev.azure.com/mercle/_packaging/xperters/nuget/v3/index.json" />
  </packageSources>
</configuration>