<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
		<!-- Allow NuGet to download missing packages -->
		<add key="enabled" value="True" />
		<!-- Automatically check for missing packages during build in Visual Studio -->
		<add key="automatic" value="True" />
	</packageRestore>

	<packageSources>
		<add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
		<add key="xperters" value="https://pkgs.dev.azure.com/mercle/_packaging/xperters/nuget/v3/index.json" />		
		<add key="DevExpress" value="https://nuget.devexpress.com/clQUkJ8nrlTrDy1bTbSoKso3KoFBOeuuNidAhKhL9CuFZqRgfm/api" />
	</packageSources>
</configuration>