@using xperters.models;
@model xperters.models.TemplateModel;
<body style="background-image:url(body-bg.png); background-repeat:repeat-x; background-size:auto; height:250px; font-family: 'Open Sans', sans-serif; padding:0px; margin:0px;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td valign="top" valign="left">
                <table width="100%" border="0" cellpadding="20" cellspacing="0">
                    <tr>
                        <td valign="top" align="center">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-radius: 2px; max-width: 600px; background-color:#fff; margin-top:50px;">
                                <tr>
                                    <td valign="top" valign="left" style="padding:10px; box-shadow:-2px 5px 11px 2px #7f7e7e3b;">
                                        <table width="100%" border="0" cellpadding="20" cellspacing="0">
                                            <tr>
                                                <td valign="top" valign="left" style="border: 5px solid #05488c; box-shadow: -2px 5px 9px 2px #a4a0a06b; background-color: transparent; padding: 35px;">
                                                    <table width="100%" border="0" cellpadding="20" cellspacing="0">
                                                        <tr>
                                                            <td style="padding: 0 !important;">
                                                                <table border="0" cellpadding="3" cellspacing="0" valign="top" width="100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="50%" align="left" valign="top" style="padding: 0 !important;">
                                                                                <a href="javascript:void(0);" target="_blank" style="text-decoration: none;color: #7e7e7e;">
                                                                                    <img style="max-width: 130px;" src="logo.png"/>
                                                                                </a>
                                                                            </td>
                                                                            <td width="50%" valign="middle" style="padding: 0 !important;">
                                                                                <table border="0" cellpadding="3" cellspacing="0" valign="top" width="100%" style="font-size: 14px;">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td align="right" style="width:100%; font-size:14px;">
                                                                                                <strong>From : </strong> @Model.ClientName
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td align="right" style="width:100%; font-size:14px;">
                                                                                                <strong>Date : </strong> @Model.PostDate
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding:0px" valign="top" valign="left" height="30"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding:0px;">
                                                                <table border="0" cellpadding="3" cellspacing="0" valign="top" width="100%" style="font-size: 14px;">
                                                                    <tr>
                                                                        <td style="padding:0px;line-height: 22px;" valign="top" valign="left">
                                                                            <strong>To : </strong>@Model.FreelancerName
                                                                        </td>
                                                                    </tr>
                                                                    <tr style="padding:0px;line-height: 22px;" valign="top" valign="left">
                                                                        <td style="padding:0px;">
                                                                            <strong>Subject: </strong>Bid accepted by customer
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td valign="top" valign="left" style="padding:0px">
                                                                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size: 13px; line-height: 20px; color: #544c3e;">
                                                                    <tr>
                                                                        <td style="padding: 10px 0;" valign="top">Hello <strong>@Model.FreelancerName</strong></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding: 5px 0;" valign="top">Thank you for applying to our job. After I reviewing your profile and bid, we have decided to accept it and are excited we will be working together.</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding: 5px 0;" valign="top">We look forward to getting our project completed. Please contact us so that we can talking about the work in detail.</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding:0;" valign="top">Speak to you soon,</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding:0;" valign="top">Kind regards</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding:0px" valign="top" valign="left" height="20"></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size: 13px; line-height: 20px; color: #544c3e;">
                                <tr>
                                    <td valign="top" valign="center" height="30"></td>
                                </tr>

                                <tr>
                                    <td style="font-size: 13px;line-height: 20px;color: #544c3e;text-align: center;">© 2019 Xperters, All Right reserved</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>